.jumbotron { 
	background-color: #1aa3ff;
	color: #000000;
	background-position: center center;
	background:url('Pictures/CBackground3.jpg');
	background-repeat: no-repeat;
	background-size: 100% 250%;
}

.navbar {
    margin-bottom: 0;
    background-color: #000000;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ba0000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #0066ff;
}

ol.carousel-indicators{
	color: #000000;
}
li {
	color: #000000;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}


hr.upper{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.lower{
	height: 10px;
	border: 0;
	box-shadow: 0 -10px 10px -10px #8c8b8b inset;
}

h2{ 
	text-align: center;
	color: #000000;
	font-size: 48px; 
	font-family: 'Signika', sans-serif; 
	padding-bottom: 10px;
}

h4{
	color: #000000;
}

#about{
	width: 100%;
	padding-bottom: 70px;
}

.Info{
	float: left;
	width: 70%;
}

.InfoPic{
	float:left;
	width: 30%
}

a.projectName:hover{
	color: #0066ff;
}

a.projectName:active {
	color: blue;
}

a.projectName{
	color: #000000;
	font-size: 35px;
	font-family: 'Signika', sans-serif;
	text-decoration: underline;
	padding-bottom: 10px;
}

h3{
	color: #000000;
	font-family: 'Signika', sans-serif; 
	text-decoration: underline;
	padding-bottom: 10px;
}


body{
	background-color: #f4f4f4;
}